/* *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} */

.btn{
    
    padding: 15px 30px;
    background-color: #3498db;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    transition-property: all;
    text-decoration: 4s;
    animation-timing-function: ease-in-out;
    transition-delay: 1s;
}

.btn:hover{
    background-color: #2ecc71;
    height: 100px;
    width: 300px;
    /* cursor: pointer; */
    /* transform: scale(1.1);
    transition: all 0.7s ease-in-out; */
}

.btn:active{
    background-color: red;
}