* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    height: 70vh;
    width: 90vw;
    background-color: #ff8080;
    /* display: flex; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-around;   */
    /* justify-content: space-evenly; */
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap-reverse; */
    /* align-items: center; */
    /* align-items: end; */
    /* align-items: start; */
    /* align-content: start; */
    /* align-content: center; */



    /* display: grid;
    grid-template-columns: 50px 50px ;
    grid-template-rows: 50px 50px ; */
}

.item {
    width: 70px;
    height: 70px;
    margin: 6px;
}

.item1 {
    background-color: #80ff80;
    /* float: right; */
    /* grid-row: 1/2;
    grid-column:  1/2 ; */


}

.item2 {
    background-color: #80b3ff;
    
    /* grid-row: 2/2;
    grid-column:  2/2 ; */
    /* float: left; */
    /* flex-shrink: 0; */
    /* flex-grow: 1; */
    /* order: 6; */
}
.item3 {
    background-color: #ffff80;
    /* grid-row: 2/2;
    grid-column:  1/2 ; */
    /* align-self: center; */
    /* flex-shrink: 3; */
    /* order: 3; */
    
}
.item4 {
    background-color: #ff80ff;
    /* grid-row: 1/2;
    grid-column:  2/2 ; */
    /* align-self: end; */
    /* flex-shrink: 4; */
    /* order: 1; */
    
}

.item5 {
    background-color: #b3b3b3;
    
}
.item6 {
    background-color: #ffb380;
    
}