* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    height: 70vh;
    width: 90vw;
    background-color: #ff8080;
    display: flex;
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    justify-content: center;
    /* justify-content: space-between; */
    /* justify-content: space-around;   */
    /* justify-content: space-evenly; */
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap-reverse; */
    /* align-items: center; */
    /* align-items: end; */
    /* align-items: start; */
    /* align-content: start; */
    /* align-content: center; */
}

.item {
    width: 70px;
    height: 70px;
    margin: 6px;
}

.item1 {
    background-color: #80ff80;
    /* float: right; */


}

.item2 {
    background-color: #80b3ff;
    /* float: left; */
    /* flex-shrink: 0; */
    flex-grow: 1;
}
.item3 {
    background-color: #ffff80;
    /* align-self: center; */
    /* flex-shrink: 3; */
    
}
.item4 {
    background-color: #ff80ff;
    /* align-self: end; */
    /* flex-shrink: 4; */
    
}

.item5 {
    background-color: #b3b3b3;
    
}
.item6 {
    background-color: #ffb380;
    
}