*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 45px;
}

/* .box{
    height: 130px;
    width: 130px;
    margin: 5px;
    background-color: red;
    display: inline;
    display: inline-block;
}

#box1{
    visibility: hidden;
    display: none;
} */

#first{
    background-color: red;
    height: 50vh;
    width: 100vw;
    font-size: 1.1rem;
}

#Second{
    background-color: green;
    width: 50%;
    height: 34%;
    font-size: 0.5em;
}


.box{
    height: 130px;
    width: 130px;
    margin: 5px;
    background-color: red;
    /* display: inline; */
    /* display: inline-block; */
}

#box1{
    position: static;
}
#box2{
    position: relative;
    top: 50px;
    left: 30px;
}
#box3{
    position: absolute;
    top: 42px;
    left: 71px;
}

#box4{
    position: fixed;
    top: 34px;
    left: 56px;
}