*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* .box{
    height: 130px;
    width: 130px;
    margin: 5px;
    background-color: red;
    display: inline;
    display: inline-block;
}

#box1{
    visibility: hidden;
    display: none;
} */

#first{
    background-color: red;
    height: 130px;
    width: 130px;
    font-size: 25px;
}

#Second{
    background-color: green;
    width: 50%;
    height: 34%;
    font-size: 0.5em;
}