*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: ; */
}

.bc{
    width: 200px;
    height: 200px;
    /* background-color: rgba(168, 119, 54, 0.582); */
    margin: 23px;
    border: 2px solid black;
    padding: 23px;
    background-image: url(img.jpg);
    width: 300px;
    /* background-size: contain; */
}