* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#para1{
    color: blue;
    font-size: 18px;
}
.lowercase{
    color: red;
    font-weight: bolder;
    font-size: 26px;
}
input[type="password"]{
    border: 2px solid black;
    padding: 10px;
    font-size: 18px;
}