*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    width: 300px;
    height: 300px;
    border: 2px solid black;
    padding: 23px;
    margin: 23px;
    background-color: rgba(54, 119, 168, 0.582);
    /* text-align: center; */
    /* text-align: left; */
    /* text-align: end;
     */
     /* text-decoration: underline;
      */
      text-decoration: overline;
}


#link{
    text-decoration: dashed overline;
    text-decoration-color: blueviolet;
    color: black;
}


#box1{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    font-style: bold;
}
#box2{
    text-transform: lowercase;
    font-size: 134px;
    font-weight: 700;
    font-style: normal;
}
#box3{
    text-transform: capitalize;
    font-size: 56px;
    font-weight: 600;
    font-style: oblique;
}
#box4{
    text-transform: none;
    font-size: 16px;   
    font-weight: 400; 
    font-style: italic;
}

#line-hight{
    line-height: 56px;
}