*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    width: 300px;
    height: 300px;
    border: 2px solid black;
    padding: 23px;
    margin: 23px;
    background-color: rgba(54, 119, 168, 0.582);
    /* text-align: center; */
    /* text-align: left; */
    /* text-align: end;
     */
     /* text-decoration: underline;
      */
      text-decoration: overline;
}


#link{
    text-decoration: dashed overline;
    text-decoration-color: blueviolet;
    color: black;
}


#box1{
    text-transform: uppercase;
}
#box2{
    text-transform: lowercase;
}
#box3{
    text-transform: capitalize;
}
#box4{
    text-transform: none;
}